@using Microsoft.MarkedNet
@model Course

@{
ViewData["Title"] = Model?.CourseName + " - " + Model?.Articles.SingleOrDefault(a => a?.Number == ViewBag.Number)?.ArticleName;
}
  <script>
        document.getElementById('container').classList.remove('container');</script>

<div class="course-title">
  <a href="/Course/@Model?.Id/Lessons"><b>КУРС - @Model?.CourseName</b></a>
</div>
<div class="lessons-content-container">
    
    <div class="lessons-container">
        @foreach (Article item in Model?.Articles?.OrderBy(a => a.Number))
        {
            <a asp-area="" asp-controller="Course" asp-action="Lesson" asp-route-id="@Model.Id" asp-route-number="@item?.Number">
                <div class="display-flex">
                   <p id="@item?.Number" class="number-lesson">@item?.Number</p>  <p>@item?.ArticleName</p>
                </div>
            </a>
        }
        
    </div>
    <div class="course-content">
        @if (ViewBag.Number == null)
        {
            @Html.Raw(Model?.ContentHTML);
        }
        else
        {
           @Html.Raw( Model?.Articles.SingleOrDefault(a => a?.Number == ViewBag.Number)?.ContentHTML);
            var status = ViewBag?.Liked != null ? "liked.png" : "like.png";
            <div class="like-container @ViewBag?.Liked" id="like" onclick="PostLike(@ViewBag.Number,@Model.Id)">
                <img class="icon icon-transparent" id="like-image" src="~/icon/@status">
                <div id="like-count">@Model?.Articles.SingleOrDefault(a => a?.Number == ViewBag.Number)?.Likes?.Count</div>
            </div>
            <div class="comment-container">
                <form id="form-comment" class="form-comment" action="/api/Comment/PostComment?articleNumber=@ViewBag?.Number&courseId=@Model?.Id" method="POST">
                    <label for="comment" class="title-comment">Коментар:</label>
                    <textarea class="area-comment" id="comment" maxlength="250" name="comment" rows="5" cols="50" required></textarea>
                    <input class="btn-comment" id="comment-submit" type="submit" value="Відправити">
                </form>
                    @foreach (Comment item in Model?.Articles?.SingleOrDefault(a => a.Number == ViewBag?.Number && a.CourseId == Model?.Id).Comments?.OrderByDescending(c=>c.Created))
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Profile" asp-route-name="@item.User.UserName">
                            <div class="comment-user-container">
                                   @if(item.User.Image==null)
	                                {
                                        <img class="profile-photo-comment" src="~/icon/anonim.png" />
                                    }
                                    else
                                    {
                                         <img class="profile-photo-comment" src="@item.User.Image" />
                                    }
                                <p><b>&nbsp; @item?.User.UserName</b></p>
                                <p class="comment-date">&nbsp; @item?.Created.ToShortDateString() @item?.Created.ToShortTimeString()</p>
                            </div>
                        </a>
                        <p class="comment-content">@item?.Content</p>
                    }
                </div>
            }  
          </div>
    <script>
       document.getElementById('@ViewBag?.Number').classList.add('active-lesson');
     </script>
     <script src="~/js/comment.js" asp-append-version="true"></script>
     <script src="~/js/postLike.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
 </div>




