@model User
@{
    ViewData["Title"] = "Профіль - "+User.Identity.Name;
}
<div class="profile-header" >
       @if(Model?.Image==null)
	   {
          <img id="photo" class="profile-photo" src="~/icon/anonim.png" />
        }
        else
        {
          <img id="photo" class="profile-photo" src="@Model.Image" />
        }
        <div class="profile-info">
            <div class="profile-name">@Model.UserName</div>
            <div class="profile-extra-info">
                 <div id="likes" class="profile-item"><p><span style="color:gray">Likes</span>&nbsp; @Model.LikeArticles.Count</p></div>
	             <div id="comments" class="profile-item"><p><span style="color:gray">Comments</span>&nbsp; @Model.Comments.Count</p></div>
                 <div id="cour" class="profile-item"><p><span style="color:gray">Courses</span>&nbsp; @Model.Courses.Count</p></div>
            </div>
        </div>
</div>
@if(ViewBag?.Owner!=null)
{
	 <form action="upload" method="post" enctype="multipart/form-data">
      <label for="file-input" class="file-label">Завантажити фото для профіля</label><br>
      <input id="file-input" accept = "image/*" type="file" name="uploads" class="file-input" /><br>
      <button type="submit" class="submit-button">Завантажити</button>
    </form>
}
<div class="profile-extra-info-content">
    <div id="profile-comments">
        @foreach(var item in Model.Comments)
        {
            <div><a asp-controller="Course" asp-action="Lesson" asp-route-number="@item.Article.Number" asp-route-id="@item.Article.CourseId"><b>@item.Article.Course.CourseName</b> <span style="color:gray">@item.Article.ArticleName</span> <span class="comment-date">&nbsp; @item?.Created.ToShortDateString() @item?.Created.ToShortTimeString()</span> </a></div>
            <p style="margin-left: 10%">@item?.Content</p>
        }
    </div>
    <div id="profile-likes">
        @foreach(var item in Model.LikeArticles)
        {
           <a asp-controller="Course" asp-action="Lesson" asp-route-number="@item.Article.Number" asp-route-id="@item.Article.CourseId">
               <p><b>@item?.Article.Course.CourseName</b> <span style="color:gray;">@item?.Article.ArticleName</span></p>
               </a>
        }
    </div>
     <div id="profile-courses">
        @foreach(var item in Model.Courses)
        {
           <a asp-controller="Course" asp-action="Lesson" asp-route-id="@item.Id">
               <p><b>@item?.CourseName</b> </p>
           </a>
        }
    </div>
</div>
 <script src="~/js/profile.js" asp-append-version="true"></script>